<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="container">
    <div class="row">
      <div class="col-md-2">
        <div id="sidebar">
          <img src="assets/images/logo.png" alt="Wikipedia logo" width="155px"><hr><hr>
          <ul>
            <li><a href="#">Main Page</a></li>
            <li><a href="#">Contents</a></li>
            <li><a href="#">Featured Content</a></li>
            <li><a href="#">Current Events</a></li>
            <li><a href="#">Random Article</a></li>
            <li><a href="#">Donate to Wikipedia</a></li>
            <li><a href="#">Wikipedia Store</a></li>
           <hr>
          </ul>
          <p>Interaction</p>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">About Wikipedia</a></li>
            <li><a href="#">Community portal</a></li>
            <li><a href="#">Recent changes</a></li>
            <li><a href="#">Contact page</a></li>
           <hr>
          </ul>
          <p>Tools</p>
          <ul>
            <li><a href="#">What links here</a></li>
            <li><a href="#">Related changes</a></li>
            <li><a href="#">Upload file</a></li>
            <li><a href="#">Special pages</a></li>
            <li><a href="#">Permanent link</a></li>
            <li><a href="#">Page information</a></li>
            <li><a href="#">Wikidata item</a></li>
           <hr>
          </ul>
          <p>Print/export</p>
          <ul>
            <li><a href="#">Create a book</a></li>
            <li><a href="#">Download as PDF</a></li>
            <li><a href="#">Printable version</a></li>
           <hr>
          </ul>
          <p>In other projects</p>
          <ul>
            <li><a href="#">Wikimedia Commons</a></li>
            <li><a href="#">MediaWiki</a></li>
            <li><a href="#">Meta-wiki</a></li>
            <li><a href="#">Wikispecies</a></li>
            <li><a href="#">Wikibooks</a></li>
            <li><a href="#">Wikidata</a></li>
            <li><a href="#">Wikinews</a></li>
            <li><a href="#">Wikiquote</a></li>
            <li><a href="#">Wikisource</a></li>
            <li><a href="#">Wikiversity</a></li>
            <li><a href="#">Wikivoyage</a></li>
           <hr>
          </ul>
          <p>Languages</p>
          <ul>
            <li><a href="#">Simple English</a></li>
            <li><a href="#">Bahasa Indonesia</a></li>
            <li><a href="#">Bahasa Melayu</a></li>
            <li><a href="#">Bsanski</a></li>
            <li><a href="#">Catala</a></li>
            <li><a href="#">Cestina</a></li>
            <li><a href="#">Dansk</a></li>
            <li><a href="#">Deutsch</a></li>
            <li><a href="#">Eesti</a></li>
            <li><a href="#">Espanol</a></li>
            <li><a href="#">Esperanto</a></li>
						<li><a href="#">Français</a></li>
						<li><a href="#">Galego</a></li>
						<li><a href="#">한국어</a></li>
						<li><a href="#">Hrvatski</a></li>
						<li><a href="#">Italiano</a></li>
						<li><a href="#">ქართული</a></li>
						<li><a href="#">Latviešu</a></li>
						<li><a href="#">Lietuvių</a></li>
						<li><a href="#">Magyar</a></li>
						<li><a href="#">Nederlands</a></li>
						<li><a href="#">日本語</a></li>
						<li><a href="#">Norsk bokmål</a></li>
						<li><a href="#">Norsk nynorsk</a></li>
						<li><a href="#">Polski</a></li>
           <hr>
          </ul>




        </div>
      </div> 


      <div class="col-md-10">
        <div id="main">

        <div class="container">
          <div class="row">
            <div class="col-md-12" id="welcome">
              <div class="well">
                <ul class="welcomelinks pull-right">
                  <li><a href="#">Society</a></li>
                  <li><a href="#">Technology</a></li>
                  <li><a href="#">All portals</a></li>
                </ul>
                <ul class="welcomelinks pull-right">
                  <li><a href="#">History</a></li>
                  <li><a href="#">Mathematics</a></li>
                  <li><a href="#">Science</a></li>
                </ul>
                <ul class="welcomelinks pull-right">
                  <li><a href="#">Arts</a></li>
                  <li><a href="#">Biography</a></li>
                  <li><a href="#">Geography</a></li>
                </ul>
                <h2>Welcome to <a href="#">Wikipedia</a></h2>
                <p>the <a href="#">free encyclopedia</a> that anyone can edit.</p>
                <p>6,436,115 articles in English</p>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" id="green" style="height: 55em; width: 45em;">
              <div class="panel greenpanelbody">
                <div class="panel-heading greenpanelhead">
                  <h2 class="panel-title">From today's featured article</h2>
                </div>
                <div class="panel-body">
                  <img src="assets/images/green.jpg" alt="meteoroid" class="pull-left">
                  <p>The Earth-grazing meteoroid of 13 October 1990 entered the atmosphere above Czechoslovakia and Poland and, after 9.8 seconds, returned to space. Named EN131090, the 44-kilogram (97 lb) meteoroid was observed travelling 409 kilometres (254 mi) at a speed of 42 km/s (26 mi/s) by cameras of the European Fireball Network. Its apparent magnitude peaked at −6.3, several times brighter than Venus's peak magnitude. Observations of such events are quite rare; 
                      this was the second recorded by scientific astronomical instruments (after the 1972 Great Daylight Fireball) and the first recorded from two distant positions, 
                      which enabled the calculation of several of its orbital characteristics. The encounter with Earth significantly changed its orbit and, to a smaller extent, some of its physical properties, including its mass and the structure of its upper layer. If the meteoroid had reached the lower atmosphere, it would have overheated and exploded high above the ground, leaving at most a few small meteorites that posed no danger to the Earth's surface. (Full article...)</p>
                </div>
                <div class="panel-heading greenpanelhead">
                  <h2 class="panel-title">Did you know...</h2>
                </div>
                <div class="panel-body">
                  <img src="assets/images/Sundial_Cannon.jpg" alt="Edmund Kalau" class="pull-right" style="height: 150px; width: 200px;">
                  <ul>
                    <li>... that sundial cannons (example pictured) were triggered by the sun to fire at noon?</li>
										<li>... that George W. Macfarlane and Robert Hoapili Baker accompanied Hawaiian King Kalākaua on his final trip to California where the king died in 1891?</li>
										<li>... that during the bombing of Nagaoka in World War II, 80% of the urban area of the city burned down?</li>
										<li>... that the 501(h) election allows many U.S. non-profit organizations to engage in unlimited lobbying as long as they do it cheaply?</li>
										<li>... that Bill Roe made the highest score in cricket at the time when he scored 415 runs during an inter-college match at Cambridge University?</li>
										<li>... that the fossil leaves of the maple species Acer whitebirdense had earlier been misattributed to the genera Viburnum, Platanus, and Rubus?</li>
										
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-6" id="blue" style="height: 55em; width: 45em;">
              <div class="panel bluepanelbody">
                <div class="panel-heading bluepanelhead">
                  <h2 class="panel-title">In the news</h2>
                </div>

                <div class="panel-body">
                  <img src="assets/images/blue.jpg" alt="King Bhumibol Adulyadej" class="pull-right">
                  <ul>
                    <li>King of Thailand Bhumibol Adulyadej (pictured), the world's longest-serving head of state, dies at the age of 88.</li>
                    <li>Bob Dylan is awarded the Nobel Prize in Literature for "having created new poetic expressions within the great American song tradition".</li>
                    <li>Colombian President Juan Manuel Santos is awarded the Nobel Peace Prize for his efforts to end the Colombian conflict.</li>
                    <li>Hurricane Matthew kills more than 1,000 people, mainly in Haiti.</li>
                    <li>Bernard L. Feringa, Jean-Pierre Sauvage, and Sir J. Fraser Stoddart are awarded the Nobel Prize in Chemistry for the synthesis of molecular machines.</li>
                    </ul>
                </div>

                <div class="panel-heading bluepanelhead">
                  <h2 class="panel-title">On this day...</h2>
                </div>
                <div class="panel-body">
                  <img src="assets/images/blue1.jpg" alt="Paddington Bear" class="pull-right">
                  <ul>
                    <li>1710 - Queen Anne's War: The French surrender ending the Siege of Port Royal gave the British permanent possession of Nova Scotia.</li>
                    <li>1812 - War of 1812: British troops and Mohawk warriors repelled an American invasion from across the Niagara River at the Battle of Queenston Heights near Queenston, Ontario.</li>
                    <li>1911 - Prince Arthur, a son of Queen Victoria, became the first Governor General of Canada of royal descent, as well as the first Prince of Great Britain and Ireland to hold that position.</li>
                    <li>1921 - The Soviet republics of Russia, Armenia, Azerbaijan, and Georgia signed the Treaty of Kars with the Grand National Assembly of Turkey to establish the contemporary borders between Turkey and the South Caucasus states.</li>
                    <li>1958 - The first book featuring the English children's literature character Paddington Bear (statue pictured), created by Michael Bond and primarily illustrated by Peggy Fortnum, was published.</li>
                  </ul>
                  <p>More anniversaries: October 12 October 13 October 14</p>
                  <p>Archive By email List of historical anniversaries</p>
									<p>Current date: October 13, 2016 (UTC) Reload this page</p>

                </div>
              </div>
            </div>

            </div>

          <div class="row">
            <div class="col-md-12" id="purple">
              <div class="panel purplepanelbody">
                <div class="panel-heading purplepanelhead">
                  <h2 class="panel-title">From today's featured article</h2>
                </div>
                <div class="panel-body">
                  <img src="assets/images/Southern_rough-winged_swallow.JPG" alt="Painting: Pieter" style="height: 300px; width: 350px;">
                  <p>The southern rough-winged swallow (Stelgidopteryx ruficollis) is a small member of the swallow family, Hirundinidae. It is native to Central and South America, with some populations being sedentary and others migratory. It occurs in forest clearings and other open areas and nests in holes in walls or banks. This bird, of the subspecies S. r. ruficollis, was photographed in the Pantanal in Brazil.</p>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" id="bottom">
              <h3>Other areas of Wikipedia</h3><hr>
              <ul>
                <li><a href="#">Community portal</a> -Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</li>
                <li><a href="#">Help desk</a> - Ask questions about using Wikipedia.</li>
                <li><a href="#">Local embassy </a>- For Wikipedia-related communication in languages other than English.</li>
                <li><a href="#">Reference desk</a> - Serving as virtual librarians, Wikipedia volunteers tackle your questions on a wide range of subjects.</li>
                <li><a href="#">Site news </a> - Announcements, updates, articles and press releases on Wikipedia and the Wikimedia Foundation.</li>
                <li><a href="#">Village pump</a> - For discussions about Wikipedia itself, including areas for technical issues and policies.</li>
              </ul>
              <p></p>
            </div>
          </div>
      </div>
    </div> 
    </div>
  </div> 
	
</div>

<div id="footer">
	
	<div class="col-md-2"></div>
	
		<div class="col-md-8">
	  
			<ul id="footer-places">
					<li id = "footer_list"><a href="#">Privacy policy</a></li>
					<li id = "footer_list"><a href="#">About Wikipedia</a></li>
					<li id = "footer_list"><a href="#">Disclaimers</a></li>
					<li id = "footer_list"><a href="#">Contact Wikipedia</a></li>
					<li id = "footer_list"><a href="#">Mobile view</a></li>
					<li id = "footer_list"><a href="#">Developers</a></li>
					<li id = "footer_list"><a href="#">Statistics</a></li>
					<li id = "footer_list"><a href="#">Cookie statement</a></li>
			</ul>
		</div>
		<div>
		<ul id="footer-icons" class="noprint">
				<li id = "footer_list_icon"><a href="#"><img src="/assets/images/wikimedia-button.png" width="88" height="31" alt="Wikimedia Foundation" loading="lazy"></a></li>
				<li id = "footer_list_icon"><a href="#"><img src="/assets/images/poweredby_mediawiki.png" alt="Powered by MediaWiki" width="88" height="31" loading="lazy"></a></li>
		</ul>

	</div>
</div>